.header {
  background-color: #7795aa; /* Azul medio */
  color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between; /* Esto sigue separando los elementos, pero vamos a organizarlo mejor */
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-title-container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 40px; 
  height: auto;
  margin-right: 10px; /* Espacio entre la imagen y el título */
}

.header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .nav-item {
  margin-right: 15px;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: #ffffff; /* Blanco */
  font-weight: normal;
  transition: color 0.2s ease-in-out;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajusta la distancia de la línea al texto */
  width: 100%;
  height: 2px;
  background-color: white; /* Color de la línea */
  transform: scaleX(0); /* Inicialmente oculta */
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

.nav a.active::after {
  transform: scaleX(1); /* La línea aparece en el enlace activo */
}

.nav a:hover::after {
  transform: scaleX(1); /* La línea aparece al hacer hover */
}

.nav a:hover {
  color: #ffffff; /* Mantiene el color al pasar el ratón */
}

.cart-count {
  background-color: #ff6f61;
  color: #ffffff;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -2px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
}

.user-container:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.user-name {
  font-size: 16px;
}