.header {
  background-color: #7795aa; /* Azul medio */
  color: #ffffff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between; /* Esto sigue separando los elementos, pero vamos a organizarlo mejor */
  align-items: center;
  position: relative; /* Añadir posición relativa */
  z-index: 1000; /* Asegurar que el header esté por encima de otros elementos */
}

.header-title-container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 40px;
  height: auto;
  margin-right: 10px; /* Espacio entre la imagen y el título */
}

.header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .nav-item {
  margin-right: 10px;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: #ffffff; /* Blanco */
  font-weight: normal;
  transition: color 0.2s ease-in-out;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajusta la distancia de la línea al texto */
  width: 100%;
  height: 2px;
  background-color: white; /* Color de la línea */
  transform: translateY(5px); /* Inicialmente oculta */
  opacity: 0; /* Inicialmente invisible */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.nav a:hover::after,
.nav a.active::after {
  transform: translateY(0); /* La línea asciende al hacer hover */
  opacity: 1; /* La línea aparece al hacer hover */
}

.nav a:hover,
.nav a.active {
  color: #ffffff; /* Mantiene el color al pasar el ratón */
}

.nav a.user-link::after {
  display: none;
}

.cart-count {
  background-color: #ff6f61;
  color: #ffffff;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -7px;
  right: -2px;
}

.user-container {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;
}

.user-container:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.user-name {
  font-size: 16px;
}

@media (max-width: 1000px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    flex-direction: column;
    width: 100%;
    background-color: #7795aa;
    position: absolute;
    top: 60px;
    left: 0;
    max-height: 0;
    overflow: hidden;
  }

  .nav.open {
    max-height: 600px; /* Ajusta este valor según sea necesario */
  }

  .nav .nav-item {
    margin: 10px 0;
    text-align: center;
  }
}
