.productos-container {
    padding: 20px;
  }
  
  .productos-container h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    height: 100%; 
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img-top {
    height: 250px; 
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
  }
  
  button {
    width: 40px; 
    height: 40px;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 36px; 
    margin: 0 5px;  
  }
  
  span {
    font-size: 18px;
    line-height: 40px; 
    display: inline-block;
    width: 40px; 
  }
