.delete-button {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
  width: 100px;
  height: 40px; /* Reduced height */
}

.delete-button:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.table td, .table th {
  vertical-align: middle; /* Center text vertically */
}
